.fatherCard{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content: baseline;
    text-align: center;
}
nav{
    display:flex;
    justify-content: space-around;
    background-color: orange;
    margin-bottom: 7px;
    /*position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 625px;*/

}
nav a{
    color: white;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
}
a:hover{
    background-color:black;
    color: orange;
}
.card{
    border-radius: 5px;
    background-color: rgb(211, 216, 139);
    text-align: center;
    margin: 30px 5px 10px 7px;
    width: 300px;
    height: 550px;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}
img{
    width: 250px;
    height: 300px;
}
.buy{
    border-radius: 5px;
    background-color: green;
    color: white;
}
